<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/country">Country</a></li>
          </ul>
      </nav>
    </header>
  
      <div class="content">
        <p><b>Navn:</b> <%= name %></p><br>
        <p><b>Kontinent:</b> <%= continent %></p><br>
        <p><b>Areal:</b> <%= area %></p><br>
        <p><b>Befolkningstal:</b> <%= popu %></p><br>
        <p><b>Styreform:</b> <%= run %></p>
      </div>
  </body>
</html>